 <li data-id="<%= todo.id %>">
  <%= todo.name %> - <%= check_box_tag :completed, todo.id, todo.completed %> (our partial)
  <%= link_to "Delete Me", todo_path(todo), :method => "delete", :remote => true %>
 </li>